* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
--small-font: 11px;
}
 /* body {
    background-attachment: fixed;
    background-color: rgba(240, 235, 235, 0.706);  
    
} */

/* #main-container { 
   
}*/

/* @media (max-width: 300px) {
    #main-container {
        flex-direction: column;
    }
} */

.background-white {
    background-color: white;
}
.whiteText {
    color: white;
}

   #gray-background-container {
    display: flex;
    justify-content: stretch;
    position: relative;
    width: 80vw;
    height: 100vh; 
    background-color: rgba(240, 235, 235, 0.706);  
    z-index: -1;
}  
#main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute; 
    align-content: stretch;
    width: 80vw;
    height: 100vh; 
    justify-content: center;
    align-items: center;

}

 p {
    font-size: 10px;
    margin: 10px 0 10px 10px;
    opacity: .7;
}


.small-container {
    min-width: 225px;
    height: 90vh;
    position: relative;
    background-color: #8456F0;
    margin: 10px;
    border-radius: 10px;
}


#container-a {
    background-color: #fafafa;
}

.dashboard-background {
    background-color: hsla(0, 4%, 90%, 0.984);
    align-self: center;
    width: 100%;
    padding: 5px;
    
    border-radius: 5px;
}

.numbers-container {
    display: flex;
    width: 100%;
    position: relative;
    
}

.numbers {
    font-size: var(--small-font);
    background-color: lightgray;
    opacity: .6;
    padding: 3px 5px;
    border-radius: 3px;
    left: 85%;
    position: absolute;
    
    
}

.dropbox-icons-acd {
    margin-left: 5px;

}

.thin-container  div {
    display: flex;
    position: relative;
    margin: 20px 0;
    align-items: center; 
    flex-direction: column;
}

.thin-container  div + div {
    /* display: flex; */
    align-self: flex-start;
    height: 37vh;
    /* padding: 13px; */
    align-items: center; 
    flex-direction: column;
    /* background-color: greenyellow; */
}
.icons {
    background-color: white;
    height: 20px;
    border-radius: 5px;
    display: block;
}

.thin-container .icons-gray {
    height: 22px;
    margin:  4px 0 20px 0;
}

#fastforward-icon {
    margin: 25px 0;
}

.icons-gray {
    background-color: white;
    border-radius: 100%;
}

#upDownImg {
    color: white;
    height: 10px;
    align-self: center;
}

.thin-container {
    width: 30px;
    height: 90vh;
    margin: 10px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
.all-icons-container {
    display: flex;
    padding: 10px 10px;
    margin-top: 11px;
    border-radius: 10px;
    flex-direction: column;
    align-content: center;
    height: 45vh;
    /* background-color: greenyellow; */
}

.icons-under-house {
    margin: 0 0 10px 5px;
}
#container-c {
    background-color: black;
}

h6 {
    font-size: var(--small-font);
    display: inline-block;
    opacity: .9;
    padding: 5px;
}

h5 {
    font-size: var(--small-font);
    opacity: .9;
    padding: 5px; 
    margin: 0 0 10px 5px;
}

.small-container div {
    display: flex;
    margin-bottom: 17px;
    
    /* align-items: center; */
    /* padding: 10px; */
}

.pictures-container {
    align-items: center;
    position: absolute;
    bottom: 0;
}

.picture {
    height: 20px;
    margin-left: 10px;
    border-radius: 100%;
    display: flex;
}
/* .picture:hover {
    cursor: pointer;
    height: 30%;
} */

.Major {
    margin-left: 20px;
    font-size: 15px;
}

.cogwheel {
    height: 15px;
    margin-left: 60px;
    background-color: white;
    border-radius: 100%;
}

.thin-container-pic {
    margin: 247px 0 0 0;
 }

.thin-pic-container {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}

.dashboard-bkg-color-blk {
    background-color: #1f1d1d;
}

.dashboard-bkg-color-purple {
    background-color: rgb(142, 98, 243)
}





