* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
--small-font: 11px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-white {
    background-color: white;
}
.whiteText {
    color: white;
}
#main-container {
    width: 80vw;
    height: 90vh;
    background-color: rgba(240, 235, 235, 0.706);
    display: flex;
    justify-content: center;
    align-items: center;

}

 p {
    font-size: 10px;
    margin: 10px 0 10px 10px;
    opacity: .7;
}


.small-container {
    width: 23%;
    height: 90%;
    background-color: rebeccapurple;
    margin: 10px;
    border-radius: 10px;
}


#container-a {
    background-color: #fafafa;
}

.dashboard-background {
    background-color: hsla(0, 4%, 90%, 0.984);
    width: 95%;
    height: 31px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

.numbers-container {
    display: flex;
    width: 100%;
    position: relative;
    
}

.numbers {
    font-size: var(--small-font);
    background-color: lightgray;
    opacity: .6;
    padding: 3px 5px;
    border-radius: 3px;
    left: 85%;
    position: absolute;
    
    
}


.icons {
    color: white;
    background-color: hsl(300, 86%, 40%);
    height: 20px;
    border-radius: 5px;
}

.icons-gray {
    background-color: white;
}

#upDownImg {
    color: white;
    height: 10px;
}

.thin-container {
    width: 5%;
    height: 90%;
    margin: 10px;
    background-color: black;
    border-radius: 10px;
}

#container-c {
    background-color: black;
}


h6 {
    font-size: var(--small-font);
    display: inline-block;
    opacity: .9;
    padding: 5px;
}

h5 {
    font-size: var(--small-font);
    opacity: .9;
    padding: 5px; 
    margin: 0 0 10px 5px;
}

.small-container div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.thin-container div {
    display: flex;
    justify-content: center;
    padding: 13px;

}

